<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>URL Shrinker</h1>
    <form action="/shoturls" method="post" class="my-4 form-inline">
        <label for="lableUrl" class="sr-only">Url</label>
        <input required type="url" name="fullurl" placeholder="URL" class="form-control mr-2 col" id="fullurl">
        <button class="btn btn-success" type="submit">Shrink</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <%shortUrls.forEach(shorturl => {%>
                <tr>
                <td><a href="<%= shorturl.full %> "><%= shorturl.full %> </a></td>
                <td><a href="<%= shorturl.short %> "><%= shorturl.short %> </a></td>
                <td><%= shorturl.clicks %>  </td>
            </tr> 
           <% })%>
               
             
            
        </tbody>
    </table>
</div>
</body>
</html>